/* ----------- App Styling (main) ----------- */

/* Used Grid to match Figma Layout */
main{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3;
  gap: 25px;
  /* border: 1px solid red; */
  text-align: center;
  width: 50%;
}

.App{
  margin: 25px;
  padding: 25px;
}

/* Banner */
header{
  border: 5px groove rgb(94, 190, 94);
  grid-column: 1/8;
  justify-content: center;
  padding-bottom: 25px;
}

/* Available Rooms */
nav{
  border: 5px groove rgb(91, 131, 240);
  grid-column: 1/2;
  grid-row: 2/4;
  padding: 10px;
  justify-content: center;
 }

/* Ad */
aside{
  border: 5px groove rgb(238, 119, 8);
  grid-column: 1/2;
  grid-row: 4/5;
}

/* Chat Box */
section{
  border: 5px groove rgb(226, 212, 13);
  grid-column: 2/8;
  grid-row: 2/5;
  padding: 10px;
}


/* ----------- Navigation Styling ----------- */

ul {
  list-style-type: none;
  margin: auto;
  width: 250px;
  background-color: #f1f1f1;
}


#navigation{
  width: 300px;
}

/* ----------- Ad Styling ----------- */

label{
  font-size: smaller;
}